@model AppNov14.Models.Laboratory

@{
    ViewData["Title"] = "Лаборатория";
}


<div class="alert alert-danger">
    <h1>Лаборатория</h1>
    <hr />
</div>
<br />
<div class="alert alert-secondary">
    <h3>Добавление данных</h3>
    <br />
    <a class="btn btn-outline-dark" asp-controller="Laboratory" asp-action="CreateIncomingOrderLab">Поступление нового сырья в лабораторию</a>
    <br />
    <hr />
    <a class="btn btn-outline-dark" asp-controller="Laboratory" asp-action="CreateOutcomingOrderLab">Списания сырья из лаборатории</a>
    <br />
    <hr />
    <a class="btn btn-outline-dark" asp-controller="WarehouseLab" asp-action="CreateWarehouseFieldsLab">Добавить новое наименование сырья</a>
    <br />
    <hr />
    @if (User.IsInRole("Moderator") || User.IsInRole("Admin"))
    {
        <a class="btn btn-outline-dark" asp-controller="WarehouseLab" asp-action="CreateWarehouseFieldTypeLab">Добавить новый тип сырья в лабораторию</a>
        <br />
        <hr />
        <a class="btn btn-outline-dark" asp-controller="Laboratory" asp-action="EditDeleteAllDataLab">Редактирование и удаление</a>
        <br />
        <hr />
    }
</div>
<br />
<div class="alert alert-secondary">
    <h3>Просмотр данных</h3>
    <br />
    <a class="btn btn-outline-dark" asp-controller="Laboratory" asp-action="LastAddingsLab">Последние записи</a>
    <br />
    <hr />
    <a class="btn btn-outline-dark" asp-controller="WarehouseLab" asp-action="WarehouseViewLab">Склад лабораторного сырья</a>
    <br />
    <hr />
    <a class="btn btn-outline-dark" asp-controller="Search" asp-action="IndexLab">Поиск</a>
    <br />
    <hr />
    <a class="btn btn-outline-dark" asp-controller="Laboratory" asp-action="ImportExcelFileLab">Excel выписка</a>
    <br />
    <hr />
    <a class="btn btn-outline-dark" asp-controller="Laboratory" asp-action="GetPartiesInfoLab">Состав партии</a>
    <br />
    <hr />
</div>