@model AppNov14.Models.Warehouse135Model

@{
    ViewData["Title"] = "Добавление полей склада";
}
<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/lib/jquery/dist/jquery-ui.js"></script>
<link href="~/jquery-ui.css" rel="stylesheet" />
<h1>Добавление полей склада</h1>
<script type="text/javascript">

    $(function () {
        $("#NameOfTypeMaterial").autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: '/Warehouse135/GetNameTypesSecond',
                    type: 'POST',
                    cache: false,
                    data: { type: $("#TypeOfMaterial").val(), Prefix: request.term, SubsType: 3},
                    dataType: 'json',

                    success: function (data) {
                        response($.map(data, function (item) {
                            return {
                                value: item.value
                            }
                        }))
                    }
                });
            },
            error: function (response) { alert(response.responseText); },
            failure: function (response) { alert(response.responseText); }

        });
    });
    $(function () {
        $("#Provider").autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: '/Warehouse135/GetProvider',
                    type: 'POST',
                    cache: false,
                    data: { Prefix: request.term, SubsType: 3},
                    dataType: 'json',
                    success: function (data) {
                        response($.map(data, function (item) {
                            return {
                                value: item.value
                            }
                        }))
                    }
                });
            },
            error: function (response) { alert(response.responseText); },
            failure: function (response) { alert(response.responseText); }

        });
    });
    $(function () {
        $("#Manufacturer").autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: '/Warehouse135/GetManufacturer',
                    type: 'POST',
                    cache: false,
                    data: { Prefix: request.term, SubsType: 3},
                    dataType: 'json',
                    success: function (data) {
                        response($.map(data, function (item) {
                            return {
                                value: item.value
                            }
                        }))
                    }
                });
            },
            error: function (response) { alert(response.responseText); },
            failure: function (response) { alert(response.responseText); }


        });
    });
</script>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateWarehouseFieldsLab" autocomplete="on">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="TypeOfMaterial" class="control-label">Тип материала</label>
                <select asp-for="TypeOfMaterial" class="form-control" asp-items="@(new SelectList(ViewBag.TypeList, "Value", "Text"))"></select>
                <span asp-validation-for="TypeOfMaterial" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="NameOfTypeMaterial" class="control-label">Наименование типа материала</label>
                <input asp-for="NameOfTypeMaterial" class="form-control" />
                <span asp-validation-for="NameOfTypeMaterial" class="text-danger"></span>

            </div>

            <div class="form-group">
                <label asp-for="Provider" class="control-label">Поставщик</label>
                <input asp-for="Provider" class="form-control" />
                <span asp-validation-for="Provider" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Manufacturer" class="control-label">Производитель</label>
                <input asp-for="Manufacturer" class="form-control" />
                <span asp-validation-for="Manufacturer" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Сохранить" class="btn btn-primary" onclick="return confirm('Вы уверенны, что хотите добавить сырье на склад?')">
            </div>
        </form>
    </div>
</div>

<div>
    <a class="btn btn-outline-secondary" asp-controller="MainTableDB" asp-action="Index">Назад</a>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

