@{
    ViewData["Title"] = "О базе";
}

<hr />
<h3>О базе</h3>
<br />
<div class="alert alert-info">
    <h5>Обновления</h5>
    <hr />
    <p>version 0.9.2.1 обновления</p>
    <p>
        1) Добавлена лабораторная часть базы ;
        2) Обновлено огромное количество процедур ;
        3) Добавлен автоматический выбор паспорта ;
        4) Чуть изменен дизайн
    </p>
</div>
<div class="alert alert-info">
    <h5>Версия</h5>
    <hr />
    <p>VestPlast Database version 0.9.2.1 08.02.2021</p>
</div>
