<h3>Возникла ошибка в орбработке вашего запроса</h3>
<hr/>
<h3>Детали ошибки:</h3>
<div class="alert alert-danger">
    <h5>Сообщение ошибки</h5>
    <hr />
    <p>@ViewBag.ExceptionMessage</p>
</div>
<div class="alert alert-danger">
    <h5>Путь ошибки</h5>
    <hr />
    <p>@ViewBag.ExceptionPath</p>
</div>
@*<div class="alert alert-danger">
    <h5>Exception trace</h5>
    <hr />
    <p>@ViewBag.StackTrace</p>
</div>*@